<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Jaku</title>
  <!-- CSS  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="../assets/icons/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main-profile.css">
</head>
<body>
  <!-- NAVBAR, LOGOS Y VISTAS -->
  <div class="navbar-fixed">
    <nav class="nav-extended navbar">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">
          <img class="responsive-img" width="70" src="../assets/icons/jaku.png" alt="jaku">
        </a>
        <span class="right" id="log-out"></span>
      </div>
      <div class="nav-content menu-icons">
        <ul class="tabs tabs-transparent" id="mobile-demo">
          <li class="tab">
            <a class="active" href="#view1">
              <i class="material-icons">home</i>
            </a>
          </li>
          <li class="tab">
            <a href="#view2" class="active">
              <i class="material-icons">group</i>
            </a>
          </li>
          <li class="tab">
            <a href="#view3" class="active">
              <i class="material-icons">face</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- PRIMERA VISTA - PUBLICACIONES -->
  <div id="view1" class="col s12 view1 post">
  <!-- foto de perfil - escribir un estado -->
    <div class="container">
      <div class="row">
        <div class="col s3 m2">
          <a href="#view3" data-activates="slide-out" class="button-collapse">
            <img class="responsive-img circle perfil" src="../assets/images/foto1.jpg" alt="usuario">
          </a>
          <h6 class="center profileName">Oprah</h6>
        </div>
        <div class="col s9 m10">
          <h5>¿Qué planes para hoy?</h5>
          <textarea name="textarea"  class="post-user-photo" id="post" rows="10" cols="50" placeholder='Comentanos aquí'></textarea>
          <!-- boton subir fotos y submit -->
          <div class="buttons">
            <div class="file-field input-field camera">
              <a class="btn btn-floating btn modal-trigger" href="#savePhoto">
                <i class="large material-icons">add_a_photo</i>
              </a>
            </div>
            <button class="btn waves-effect waves-light right" id="publish" type="submit" name="action">Publicar
              <i class="material-icons right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Modal para subir fotos-->
    <div id="savePhoto" class="modal">
      <div class="modal-content">
        <h4>Subir Fotos</h4>
        <form action="#">
          <div class="file-field input-field">
            <div class="btn teal accent-3">
              <span>Foto</span>
              <input type="file" id="uploadPhoto" accept='image/x-png,image/jpeg,image/gif'>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" id="publishPhoto" class="modal-action modal-close waves-effect waves-green btn teal accent-3">Publicar</a>
      </div>
    </div>
  <!-- lugar donde se publican los post -->
  <div class="container post-user">
  </div>
  </div>
  <!-- SEGUNDA VISTA - AMIGOS -->
  <div id="view2" class="col s12">
    <div class="row">
      <ul class="tabs">
        <div class="col s6 m6 center">
          <li class="tab ">
            <a class="active" href="#friends">Amigos</a>
          </li>
        </div>
        <div class="col s6 m6 center">
          <li class="tab">
            <a href="#suggestions">Sugerencias</a>
          </li>
        </div>
      </ul>
    </div>
  <!-- sub-seccion vista amigos -->
    <div id="friends" class="col s12">
      <ul class="collection friends">
      </ul>
    </div>
  <!-- sub-seccion vista sugerencias de amistad -->
    <div id="suggestions" class="col s12">
      <ul class="collection suggestions">
      </ul>
    </div>
  </div>
  <!-- tercera vista - perfil -->
  <div id="view3" class="center-align">
    <h3>Metas</h3>
      <div clas="row">
        <div class="col s4 offset-s4 offset-s4 l4">
          <img class="responsive-img circle" src="../assets/images/meta-user.png" alt="usuario">
        </div>
      </div>
    <img src="../assets/images/metas.png" alt="" class="responsive-img">
  </div>
  <!-- Sitio de Perfil -->
  <ul id="slide-out" class="side-nav" >
    <li><div class="user-view">
      <div class="background">
        <img src="../assets/images/img-fondo.jpg" class="responsive-img">
      </div>
      <a href="#!user"><img class="circle perfil" src=""></a>
      <a href="#!name"><span class="white-text profileName"></span></a>
    </div></li>
    <li ><a href="#!" class="file-field input-field">Cambiar foto<i class="material-icons"><input type="file" id="upload" accept='image/x-png,image/jpeg,image/gif'>camera_alt</i></a></li>
    <li><a href="#!">Intereses: <span id="interests"></span></a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Mi perfil</a></li>
    <li><a class="waves-effect" href="#!">Edad: <span id="age"></span></a></li>
    <li><a class="waves-effect" href="#!">Peso: <span id="weight"></span></a></li>
    <li><a class="waves-effect" href="#!">Talla: <span id="height"></span></a></li>
    <li><a class="waves-effect" href="#!">Entrenas en: <span id="training"></span></a></li>
    <li><a class="btn waves-effect waves-light grey darken-3 btn modal-trigger" href="#actualizar">Actualizar datos</a></li>
  </ul>
  <!--Modal para actualizar datos-->
  <div id="actualizar" class="modal">
    <div class="modal-content">
      <h4>Actualizar datos</h4>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Caminar, Correr, Nadar, etc." id="mdinterests" type="text" class="validate">
          <label for="">Intereses</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="25 años" id="mdage" type="text" class="validate">
          <label for="">Edad</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="60 kg" id="mdweight" type="text" class="validate">
          <label for="">Peso</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="1.65 cm" id="mdheight" type="text" class="validate">
          <label for="">Talla</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Gym Bodytech, Malecon de Miraflores, etc." id="mdtraining" type="text" class="validate">
          <label for="">Entrenas en :</label>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" id="save-profile" class="modal-action modal-close  waves-effect waves-light grey darken-3 btn">Grabar</a>
      </div>
    </div>
  </div>
  <!--  Scripts-->
  <script src="../vendors/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script>
  // Initialize Firebase
  var config = {
      apiKey: "AIzaSyAsWlB0dmOzld3qIJyJgBztHJNq-ef_1_U",
      authDomain: "red-social-d49cb.firebaseapp.com",
      databaseURL: "https://red-social-d49cb.firebaseio.com",
      projectId: "red-social-d49cb",
      storageBucket: "red-social-d49cb.appspot.com",
      messagingSenderId: "270231005297"
  };
  firebase.initializeApp(config);
  </script>
  <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/signup.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
